
.textoCentrado{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 10px;
    
}
.boxTextoAcuarela{
    padding-bottom: 40px;
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
}

.bannerCta{
    /* gradientes */
    background-image: linear-gradient(to right, rgb(92, 7, 126), rgb(248, 183, 5));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    .boton {
        color: white;
        background-color: rgb(52, 9, 107);
        padding: 1rem;
        border-radius: 1rem;
        text-decoration-line: none
    }
    .textoBanner{
        color: aliceblue;
        padding: 40px;
    }
}
// producto
.theWine{
    text-align: center;
    justify-content: center;
    padding: 2em;
    p{
        margin-left: 20%;
        margin-right: 20%;
        font-size: larger;
    }
}