$alto-caja: 50px;
$ancho-caja: 800px;
$violet: rgb(187, 109, 187);
$purple: purple;

// aplico sass dos en la página de productos
.caja-uno {
    width: $ancho-caja/2;
    height: $alto-caja;
    background-color: $violet;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}

.caja-dos {
    width: $ancho-caja/2;
    height: $alto-caja;
    background-color: $purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;

}

@for $i from 1 through 3 {
    .box-#{$i} {
        width: 9em *$i;
        height: 3em;
        background-color: $violet;
        border: 1px solid $purple;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}