* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lustria', serif;
}

h2 {
  padding: 20px;
  font-size: 36px;
}

h3 {
  padding: 20px;
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

.hero {
  background-image: url(/imagenes/vinedos.jpg);
  height: 50vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero h1 {
  color: white;
  font-size: 45px;
}

footer {
  padding: 40px;
  margin-bottom: 0px;
  background-color: rgba(29, 28, 28, 0.836);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer a {
  color: white;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.textoCentrado {
  text-align: center;
  padding-bottom: 40px;
  margin-top: 10px;
}

.bannerCta {
  /* gradientes */
  background-image: -webkit-gradient(linear, left top, right top, from(#5c077e), to(#a7006f));
  background-image: linear-gradient(to right, #5c077e, #a7006f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
}

.bannerCta .boton {
  color: white;
  background-color: #34096b;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.bannerCta .textoBanner {
  color: aliceblue;
  padding: 40px;
}

.theWine {
  margin-top: 30px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theWine h3 {
  margin-left: 20%;
  margin-right: 20%;
  font-size: larger;
}

button {
  background-color: #34096b;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5% 25% 5%;
}

.columnaTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.columnaImagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5% 15% 5%;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

@media screen and (max-width: 991px) {
  iframe {
    width: 20rem;
    height: 15rem;
  }
  .nosotros {
    padding: 10%;
    padding-bottom: 40px;
    margin-top: 10px;
  }
  .nosotros img {
    width: 100%;
  }
  h3 {
    padding: 10px;
    margin: 0px;
    font-size: 28px;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  .hero h1 {
    font-size: 38px;
  }
  .bannerCta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .columnaTexto img {
    width: 100%;
  }
  .imagenAcuarela img {
    width: 30vh;
  }
}

@media screen and (min-width: 991px) {
  .textoAcuarela {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem;
  }
  .textoAcuarela .boxTextoAcuarela {
    margin: 0px;
    padding: 3rem;
  }
  .textoAcuarela .imagenAcuarela img {
    width: 40vh;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nosotrosImagen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 2fr;
      grid-template-rows: auto 2fr;
  margin-top: 20px;
      grid-template-areas: "title " "imagenNos" "parrafo1";
}

.title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parrafo1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: parrafo1;
  text-align: left;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 20px;
  padding: 20px;
}

.parrafo1 .boton {
  color: white;
  background-color: rgba(0, 0, 0, 0.815);
  padding: 5%;
  border-radius: 1em;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.imagenNos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imagenNos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

@media screen and (min-width: 900px) {
  .nosotrosImagen {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto 5fr;
        grid-template-rows: auto 5fr;
    margin-top: 20px;
    margin-bottom: 20px;
        grid-template-areas: "title title" "parrafo1 imagenNos";
  }
  .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: title;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
  }
  .parrafo1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: parrafo1;
    text-align: left;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 20px;
  }
  .parrafo1 .boton {
    color: white;
    background-color: rgba(0, 0, 0, 0.815);
    padding: 1em;
    border-radius: 1em;
  }
  .imagenNos {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: imagenNos;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 20px;
  }
}

@media screen and (min-width: 980px) {
  .gridCard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25%;
        grid-template-columns: 25% 25% 25%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: "uno dos tres";
  }
  .uno {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: uno;
    padding: 20px;
  }
  .dos {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: dos;
    padding: 20px;
  }
  .tres {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: tres;
    padding: 20px;
  }
}

@media screen and (max-width: 980px) {
  .uno {
    grid-template: uno;
    padding: 20px;
  }
  .dos {
    grid-template: dos;
    padding: 20px;
  }
  .tres {
    grid-template: tres;
    padding: 20px;
  }
}

.gridProducto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 20px;
      grid-template-areas: "blanc pinot sav" "tempranillo merlot syrah";
}

.blanc {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: blanc;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.pinot {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pinot;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.sav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sav;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.tempranillo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tempranillo;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.merlot {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: merlot;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.syrah {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: syrah;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.zoom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1;
}

@media screen and (max-width: 980px) {
  .gridProducto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: "blanc" "pinot" "sav" "tempranillo" "merlot" "syrah";
  }
  .blanc {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: blanc;
  }
  .pinot {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: pinot;
  }
  .sav {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: sav;
  }
  .tempranillo {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: tempranillo;
  }
  .merlot {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: merlot;
  }
  .syrah {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: syrah;
  }
}
/*# sourceMappingURL=estilos.css.map */